/*
Colorblind safe color palette from colorbrewer2.org.
#d01c8b - fuschia pink
#f1b6da - light pink
#f7f7f7 - off white
#b8e186 - light green
#4dac26- green
*/
body {
  background-color: #f1b6da;
  color: #d01c8b;
  text-align: center;
}

h1 {
  color:#f7f7f7
}
